extends layout

block content
  div#main.container(role="main")
    a(href='#room') #room
    a(href='#invite') #invite
    div#init.page
      div.content
	p blah
    div#room.page
      div.content
	p blah
    div#invite.page
      div.content
	p blah