extends layout

block content
  div#main.container(role="main")
    a(href='#room') #room
    a(href='#invite') #invite
    div#init.page
      div.content
        div#stream
    div#room.page
      div.content
    div#invite.page
      div.content
